# Training Routine

In this notebook, I propose the training routine for my model. This is seen as my debugging environment before moving to the orchestrator.

## Load packages and data

In [13]:
import os
import itertools
import click
import mlflow
import pandas as pd
import numpy as np
import xgboost as xgb

from sklearn.model_selection import ParameterGrid
from sklearn.metrics import accuracy_score, f1_score

Define target column

In [14]:
TARGET_COL = "GradeClass"

Define helper function to load csv files

In [ ]:
def read_csv_as_xy(path):
    # Read CSV
    df = pd.read_csv(path)
    # Split into X and y and coerce booleans into 1 and 0
    X = df.drop(columns=[TARGET_COL]).apply(
        lambda c: c.astype(int) if c.dtype == "bool" else c
    )
    # Define multiclass target variable
    y = df[TARGET_COL].astype(int)
    return X, y

In [11]:
df.head()

,StudyTimeWeekly,Absences,GradeClass,Age_15,Age_16,Age_17,Age_18,Gender_Female,Gender_Male,Ethnicity_African American,...,ParentalSupport_None,ParentalSupport_Very High,Extracurricular_No,Extracurricular_Yes,Sports_No,Sports_Yes,Music_No,Music_Yes,Volunteering_No,Volunteering_Yes
0,19.833723,7,2.0,False,False,True,False,True,False,False,...,False,False,True,False,True,False,False,True,True,False
1,4.210570,26,4.0,True,False,False,False,False,True,False,...,False,False,True,False,True,False,True,False,True,False
2,10.028829,14,3.0,False,False,True,False,True,False,False,...,False,False,False,True,True,False,True,False,True,False
3,8.191219,0,1.0,False,False,False,True,False,True,False,...,False,False,False,True,True,False,True,False,True,False
4,15.601680,10,2.0,True,False,False,False,False,True,True,...,False,False,True,False,False,True,True,False,True,False

In [15]:
import pandas as pd

In [16]:
data = pd.read_csv('../data/students_performance.csv')

In [18]:
data.iloc[-1]

StudentID            3392.000000
Age                    16.000000
Gender                  1.000000
Ethnicity               0.000000
ParentalEducation       2.000000
StudyTimeWeekly        17.819907
Absences               13.000000
Tutoring                0.000000
ParentalSupport         2.000000
Extracurricular         0.000000
Sports                  0.000000
Music                   0.000000
Volunteering            1.000000
GPA                     2.140014
GradeClass              1.000000
Name: 2391, dtype: float64

In [19]:
dict_ex = {
    'StudentID':3393,
      'Age':17,
        'Gender':0,
          'Ethnicity':1,
            'ParentalEducation':1,

       'StudyTimeWeekly':18.43,
         'Absences':12,
           'Tutoring':1,
             'ParentalSupport':1,

       'Extracurricular':0,
         'Sports':1,
           'Music':1,
             'Volunteering':0,
               'GPA':2.15,
}

In [22]:
df = pd.DataFrame(dict_ex,index=[0])

In [24]:
df.to_csv('../data/sample_test_input.csv',index=False)